@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing:border-box;	
}

html,body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
background: #1a1924;
overflow:hidden;
}

.mainContainer {
	
width: 100%;height: 100%;background: #1a1924;display: flex;overflow: hidden;}

.mainContainer .sideBar {
	
background: #1e1d29;width: 100%;height: 100%;max-width: 255px;min-width: 255px;padding: 20px 0 0 0;overflow-y: auto;}

.mainContainer .chatList {
	
height: 100%;width: 100%;max-width: 360px;min-width: 300px;border-left: 1px solid #262530;border-right: 1px solid #262530;display: flex;flex-direction: column;}
.mainContainer .chatPanel {
	
height: 100%;width: 100%;
display: flex;flex-direction: column;}

.chatPanel .chatHead {
	
width: 100%;display: flex;justify-content: space-between;border-bottom: 1px solid #262530;min-height: 65px;}

.chatPanel .chatBody {
	height: 100%;
	width: 100%;
	overflow: auto;
	flex-direction: column-reverse;
	padding: 14px 26px 0 26px;
	max-height: 500px;
}
.circular_image {
	float: left;
	
	width: 40px;
	height: 40px;
	border-radius: 100%;
	overflow: hidden;
	background-color:RGB(17,17,17);
}
.chatPanel .chatInput {
	
height: 100%;max-height: 110px;min-height: 100px;padding: 10px 26px 20px 26px;position: relative;}

.chatPanel .userProfile {
	
margin-right: 10px;margin-top: 4px;}

.chatPanel .userInfo {
	
font-size: 14px;}

.chatPanel .userInfo div:first-child {
	
color: #efeef6;white-space: nowrap;}

.chatPanel .userInfo div:last-child {
	
color: #9796a9;font-size: 13px;}

.chatPanel .chatUser {
	
display: flex;align-items: center;margin-left: 25px;}

.chatPanel .headIcons {
	
display: flex;margin-right: 30px;align-items: center;}

.chatPanel .headIcons div {
	
margin-left: 15px;}

.chatPanel .headIcons div:hover {
cursor:pointer;
opacity:0.5;	
}

.chatUser:hover {
  cursor:pointer;	
  opacity:0.5;
}

.chatTime {
	
width: 100%;text-align: center;color: #696876;font-size: 13px;padding-bottom: 14px;}

.defaultUser {
	
display: flex;margin-bottom: 14px;}

.userChat {
	
display: flex;flex-direction: column;align-items: end;margin-bottom: 14px;}

.defaultUser div {
	
background: #232434;color: #d3d5d9;border-radius: 17px;padding: 10px;font-size: 15px;max-width: 90%;}

.defaultUser img {
	
cursor: pointer;}

.chatName {
	
color: #696876;font-size: 13px;padding-right: 60px;padding-bottom: 8px;}

.chatName:hover {opacity:0.5; cursor:pointer;}

.userChat .bubbleHolder {
	
display: flex;}

.userChat img {
	
cursor: pointer;}

.userChat img:hover,.defaultUser img:hover {opacity:0.5;}

.defaultUser span {

display: flex;justify-content: flex-end;flex-direction: column;margin-bottom: 1px;margin-right: 10px;}

.userChat span {
	
display: flex;justify-content: end;flex-direction: column;margin-left: 10px;}

.bubblePurple { background: #7047e4;  color: #dadce1; border-radius: 17px;  padding: 10px; font-size: 15px;}
	
.chatInput textarea {height: 100%;width: 100%;resize: none;border-radius: 6px;background: #1a1924;border: 1px solid #403f4b;outline: none;color: #d3d5d9;font-family: 'Roboto';font-size: 15px;padding: 14px 20px;}


.adminUser {
display: flex;align-items: center;margin-bottom: 20px;padding: 0 17px 0 17px; cursor:pointer;}

.adminUser:hover {opacity:0.5;}

.adminUser div:last-child {color: white;margin-left: 13px;font-size: 14px;}

.navItem {
	
color: #cfcedb;font-size: 12px;display: flex;align-items: center;margin-bottom: 10px;cursor: pointer;padding: 0 17px;}

.navItem span {
	
margin-top: 3px;margin-right: 17px;}

.sideBar .sep {
	
height: 1px;width: 100%;background: #34343f;margin: 22px 0;}

.navItem:hover {
	cursor:pointer;
	opacity:0.5;	
}

.listHead {display: flex;justify-content: space-between;min-height: 65px;border-bottom: 1px solid #262530;padding: 0 20px;}
.listHolder {height: 100%;padding: 11px 10px 0 10px;width: 100%;display: flex;flex-direction: column;overflow-y: auto;}
.listOption {display: flex;color: #9997ac;font-size: 13px;align-items: center;}
.listAction {display: flex;align-items: center;}
.listOption .active {color: #e8e9f3;background: #232434;padding: 8px 12px;border-radius: 5px;}
.listDone {margin: 0 20px;}
.listUnread {border: 1px dashed #3f3d4d;  padding: 8px 12px; border-radius: 5px;}
.actionCall {margin-right: 17px;}
.actionCall:hover {opacity:0.5; cursor:pointer;}
.actionMessage:hover { opacity:0.5; cursor:pointer;}
.listOption div:hover { opacity:0.5; cursor:pointer;}

.threadContainer {display: flex; margin-left: 42px; margin-bottom: 14px;}
.threadHolder {border: 1px solid #31303b;border-radius: 10px;width: 100%;max-width: 400px;min-width: 400px;}
.threadBody {}
.threadInput {display: flex;margin-bottom: 10px;}
.threadHead {padding: 8px 10px;border-bottom: 1px solid #31303b;color: #898899;font-size: 12px;align-items: center;display: flex;justify-content: space-between;}
.threadHead span {margin-right: 10px;}
.threadHead p {margin: 0px 0px 0px 6px;font-size: 11px;color: #716f85;}
.threadInfo {display: flex;}
.threadOption {display: flex;}
.threadOption div {margin-left: 10px;}
.threadInput input {width: 100%;margin: 0 8px;background: #1a1924;border: 1px solid #403f4b;border-radius: 6px;padding: 10px 10px;outline: none;color: #d7dbe3;}
.threadInput input:focus-within {outline:1px solid #8e7536}
.threadHighlight {background:#2c292a; color:#e4e2d9;margin-left: 10px;border-radius: 16px;font-size: 13px;padding: 8px 10px;}
.threadHighlight span {color:#d6b35f; background:#4a4030;border-radius: 3px;padding: 1px 3px;}
.threadUser {color:#6c6a80;padding-left: 50px;font-size: 12px;margin-top: 10px;}
.threadBubble {display: flex;margin-top: 5px;margin-bottom: 9px;padding: 0 10px;}
.threadUser1 {display: flex;flex-direction: column;justify-content: end;}
.threadDirection {display:flex; flex-direction:column-reverse;}

/*contact list*/
.contactItem {display: flex;align-items: center;padding: 13px 10px;border-radius: 5px;margin-bottom: 5px;cursor: pointer;}
.contactItem:hover {background: #232434;}
.contactActive {background: #232434;}
.contactInfo {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;}
.contactBody {display:flex; justify-content:space-between;}
.contactTitle {color: #ebedf7;font-size: 14px;margin-bottom: 3px;}
.contactMsg {text-overflow: ellipsis;overflow: hidden;color: #9696ad;font-size: 13px;}
.contactDetails {margin-left: 10px;display: flex;flex-direction: column;justify-content: center;}
.contactTime {color: #66677a;font-size: 12px;margin-bottom: 6px;white-space: nowrap;}
.contactUsers {display:flex; justify-content:space-between;min-width: 45px;margin-left: 10px;}
.msgHolder {display: flex;justify-content: space-between;}
.contactImg {margin-right: 13px;}
.callHolder {display: flex;align-items: center;justify-content: space-between;}
.callProgress {margin-right: 6px;}
.callStatus {display: flex;align-items: center;}

/*inboxes*/
.sideTitle {color: #918fa5;font-size: 13px;padding-left: 17px;margin-bottom: 14px;}
.inboxHolder {display: flex;justify-content: space-between;align-items: center;padding: 10px 10px;border-radius: 5px;margin: 0 7px 7px 7px;}
.inboxHolder:hover {cursor:pointer; background: #262736;}
.inboxHolder:hover .sideIcon {background: #1e1d29;}
.sideIcon {margin-right: 14px;width: 30px;background: #262736;height: 30px;display: flex;align-items: center;justify-content: center;border-radius: 3px;}
.inboxWrap {}
.inboxTitle {color: #cfcedb;font-size: 14px;margin-bottom: 4px;}
.inboxNumber {color: #6c6a7f;font-size: 12px;}
.inboxCounter {background: #da4c2c;font-size: 11px;color: #e1dbdb;height: 17px;width: 17px;border-radius: 90px;display: flex;align-items: center;justify-content: center;margin-right: 10px;}
.inboxContainer {display: flex;align-items: center;}
.inboxActive {background:#262736;}
.inboxActive .sideIcon {background: #1e1d29;}

/*team list*/
.teamList {display: flex;align-items: center;padding: 5px 17px;cursor: pointer;}
.teamImg {margin-right: 10px;}
.teamTitle {color: #cfcedb;font-size: 13px;}
.teamList:hover {opacity:0.5;}
.emojionearea{
  background-color: initial !important;
  border: 0 !important;
}
.emojionearea .emojionearea-editor{
  height: 100%  !important;
  width: 100%;
  resize: none;
  border-radius: 6px !important;
  background-color: #1a1924  !important;
  border: 1px solid #403f4b  !important;
  outline: none;
  color: #d3d5d9  !important;
  font-family: 'Roboto';
  font-size: 15px  !important;
  padding: 14px 20px  !important;
  min-height:  80px !important; 
  max-height: 80px !important;
}

.pinIcon {position: absolute;top: 63px;left: 46px; cursor: pointer;}
.sendIcon {position: absolute;right: 40px;top: 33px; cursor: pointer;}

.sendTo {color: #a7a7b7;font-size: 15px;font-weight: bold; display: flex;align-items: center;margin-left: 25px;}
.toInput {width: 100%;height: 100%;}
.toInput input {width: 100%;height: 100%;padding: 0px 10px 2px 10px;background: none;border: none;outline: none;color: #e8eef6;font-size: 15px;}
.sideRecipient {color: #aeb3c1;padding: 20px;font-size: 14px;}

/*Rright Side Panel*/

.rightPanel {min-width: 340px;border-left: 1px solid #262530; overflow-y:auto;}
  .userInput {border: none;background: none;color: #9796a9;text-align: center;padding: 20px 0;font-size: 20px;font-weight: 600;outline: none;}
  .userDetails {display: flex;flex-direction: column;align-items: center;}
  .userDisplay {margin-top: 40px;}
  .callUser {margin-right: 40px;}
  .msgUser {}
  .sideSep {width: 100%;height: 1px;background: #262530;}
  .sideDetails {margin-top: 30px;margin-bottom: 30px;}
  .sideItem {display: flex;padding: 0px 20px 13px 20px;}
  .itemInput {width: 100%;background: none;border: none;color: #e8eef6;outline: none;}
  .itemTitle {color: #929bb0;font-size: 14px;display: flex;min-width: 110px;margin-right: 10px;}
  .itemTitle span {margin-right: 10px;}
  .addItem {color: #a98fe9;font-size: 14px;padding: 10px 20px 0 20px;cursor: pointer;}
  .addItem span {margin-right: 10px;}
  .userNote {color: #b4b3bd;font-size: 14px;font-weight: bold;padding: 0 20px 30px 20px;}
  .userNote span {margin-left: 10px;}
  .sideInput {padding: 0 20px;}
  .sideIcons {display: flex;margin-bottom: 40px;}
  .userInput:focus::placeholder {color: #1a1924;}
  .itemInput::placeholder {color:#717385;}
  .itemInput:focus::placeholder {color:#1a1924;}
  .addItem:hover {opacity:0.5;}
  .callUser:hover {opacity:0.5; cursor:pointer;}
  .msgUser:hover {opacity:0.5; cursor:pointer;}
  .sideInput textarea {border: 1px solid #403f4b;background: none;resize: none;height: 80px;outline: none;padding: 14px;font-size: 14px;font-family: 'Roboto';width: 100%;border-radius: 6px;color: #d3d5d9;}


/*call popup*/
.popupContainer {position: absolute;width: 100%;display: flex;justify-content: center;z-index: 1;}
.popupHead {padding: 20px 24px 20px 30px;display: flex;justify-content: space-between;align-items: center;border-bottom: 1px solid #2b2c39;}
.popupBase {display: flex;justify-content: space-between;padding: 15px 24px 15px 30px;border-top: 1px solid #2b2c39;align-items: center;}
.popupTitle {color: #f7ffff;font-size: 14px;font-weight: bold;margin-bottom: 6px;}
.popupPhone {color: #a3a8b3;font-size: 14px;opacity: 0.5;}
.popupSetting {cursor: pointer;}
.popupSetting:hover {opacity:0.5;}
.popupWrap {background: #20212e;margin-top: 100px;border-radius: 10px;border: 1px solid #2c2d39;min-width: 444px; box-shadow: 0px 0px 110px 40px rgba(0,0,0,0.30); -webkit-box-shadow: 0px 0px 110px 40px rgba(0,0,0,0.30); -moz-box-shadow: 0px 0px 110px 40px rgba(0,0,0,0.30);}
.popupBody textarea {border: none;background: none;padding: 20px 24px 10px 30px;font-size: 22px;color: white;width: 100%;outline: none;resize: none; font-family:'Roboto';}
.popupBody textarea:focus::placeholder {color:#20212e;}
.popupBody textarea::placeholder {color:#747586;}
.baseText {font-size: 12px;color: #909097;}
.baseText span {background: #00000057;padding: 3px 8px;border-radius: 4px;margin: 0 1px;}
.popupCall {color: white;background: #7852ee;border-radius: 4px;padding: 0 16px 0 12px;height: 33px;display: flex;align-items: center;justify-content: center;font-size: 16px;cursor: pointer;}
.popupCall:hover {opacity:0.5;}
.popupCall img {margin-right: 8px;}
#callPopup {display:none;}

/*Dail Pad*/
.dialContainer {position: absolute;background: #20212e;min-width: 270px;border: 3px solid #b28fff;border-radius: 14px;padding-bottom: 5px;}
.dialHolder {height: 0; width: 100%; position: absolute; }
.dialHead {display: flex;justify-content: space-between;border-bottom: 1px solid #33323e;align-items: center;padding: 9px 0;cursor: grab;}
.dialHead:active {cursor: grabbing;}
.dialTitle {color: #f6f7ff;font-size: 13px;font-weight: bold;margin-left: 13px;}
.dialHead img {margin-right: 14px;cursor: pointer;}
.dialUser {display: flex;padding: 14px;align-items: center;}
.dialUser img {margin-right: 12px;cursor: pointer;}
.dialImg {display: flex;}
.dialWrap {display: flex;flex-direction: column;justify-content: center;}
.dialNumber {color: #ffffff;font-size: 14px;font-weight: bold;margin-bottom: 4px;cursor: pointer;}
.dialTime {color: #9197ac;font-size: 13px;}
.dialButtons {display: flex;padding: 0 14px;align-items: center;justify-content: space-between;max-width: 264px;margin-bottom: 10px;margin-top: 5px;}
.dialItem {height: 30px;width: 30px;background: #2a2a3c;border-radius: 5px;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.dialButtons .active {background: #fe4910;height: 32px;width: 32px;}
.dialButtons .selected {background: #674ed1;}
.dialPad {display: flex;flex-direction: column;margin-top: 20px;}
.dialRow {display: flex;padding: 0 14px;}
.padItem {width: 100%;display: flex;flex-direction: column;align-items: center;padding: 10px 0;cursor: pointer; transition: 0.2s;border-radius: 5px;}
.padItem:hover {background:#2b2c38; }
.padItem:active {background:#2f3041;}
.padNumber {color: #fff;font-weight: bold;font-size: 18px;}
.padText {color: #7d7681;font-size: 10px;font-weight: bold;}
#draggable {z-index:10; left: 464px; top: 183px; }
.dialToggle {display:none;}


/*Right side panel*/
  .rightPanel {min-width: 340px;border-left: 1px solid #262530;}
  .userInput {border: none;background: none;color: #9796a9;text-align: center;padding: 20px 0;font-size: 20px;font-weight: 600;outline: none;}
  .userDetails {display: flex;flex-direction: column;align-items: center;}
  .userDisplay {margin-top: 40px;}
  .callUser {margin-right: 40px;}
  .msgUser {}
  .sideSep {width: 100%;height: 1px;background: #262530;}
  .sideDetails {margin-top: 30px;margin-bottom: 30px;}
  .sideItem {display: flex;padding: 0px 20px 13px 20px;}
  .itemInput {width: 100%;background: none;border: none;color: #e8eef6;outline: none;}
  .itemTitle {color: #929bb0;font-size: 14px;display: flex;min-width: 110px;margin-right: 10px;}
  .itemTitle span {margin-right: 10px;}
  .addItem {color: #a98fe9;font-size: 14px;padding: 10px 20px 0 20px;cursor: pointer;}
  .addItem span {margin-right: 10px;}
  .userNote {color: #b4b3bd;font-size: 14px;font-weight: bold;padding: 0 20px 30px 20px;}
  .userNote span {margin-left: 10px;}
  .sideInput {padding: 0 20px;}
  .sideIcons {display: flex;margin-bottom: 40px;}
  .userInput:focus::placeholder {color: #1a1924;}
  .itemInput::placeholder {color:#717385;}
  .itemInput:focus::placeholder {color:#1a1924;}
  .addItem:hover {opacity:0.5;}
  .callUser:hover {opacity:0.5; cursor:pointer;}
  .msgUser:hover {opacity:0.5; cursor:pointer;}
  .sideInput textarea {border: 1px solid #403f4b;background: none;resize: none;height: 80px;outline: none;padding: 14px;font-size: 14px;font-family: 'Roboto';width: 100%;border-radius: 6px;color: #d3d5d9;}